<div class="container mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            Na,e is NAme 
        </div>
    </div>
    <div class="container-body mt-4">
        <div style="display: flex;" class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>100% Quality</li>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam cum eaque explicabo laudantium sint amet facilis, velit quae eligendi unde.</p>
                </ul>
            </div>
            <div class="col-md-7"> <img src="assets/test.jpg" width="50%" height="50%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <div class="col-md-2 mio offset-md-4"><a href="#">ADD TO CART</a></div>
            <div class="col-md-2 myt "><button type="button" class="btn btn-outline-warning"><a href="#">BUY NOW</a></button></div>
        </div>
    </div>
</div>